//Animations
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

//Fonts
@font-face {
	font-family: 'OpenSans-Light';
	src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'OpenSans-Regular';
	src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'OpenSans-Bold';
	src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'OpenSans-Italic';
	src: url('../assets/fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }


h1, h2, h3, h4, h5, h6, ion-card-title, .action-sheet-title{
	font-family: "OpenSans-Bold";
}

ion-title, .action-sheet-button-inner{
	font-family: "OpenSans-Regular";
}

ion-title img{
    height: 40px;
}

ion-label, p, ion-item, ion-card-content, ion-item ion-label, ion-button, ion-item p, ion-text {
	font-family: "OpenSans-Light";
}

ion-item ion-label, ion-input{
	--ion-font-family: "OpenSans-Light", serif;
}

ion-card{
	box-shadow:  1px 4px 6px rgba(var(--ion-color-dark-rgb), 0.25);
	border-radius: 0.75em;
}

ion-footer{
	background: none;
}

ion-toolbar{
    // --background: linear-gradient(to right, #1a617f 0%,#004f71 51%,#1a617f 100%);
    --background: var(--ion-color-light);
}

ion-tabs{
	// background : var(--ion-color-light-marron);
	background: none;
}

ion-tab-bar{
	--background: var(--ion-color-light-marron);
	--color: var(--ion-color-medium);
	// border: 1px solid var(--ion-color-medium);
	// bottom: 20px;
	// position: relative;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	// width: 94%;
	height: 60px;
	// margin: 0 auto;
}

ion-tab-button{
	--color-selected: var(--ion-color-primary);
	&::before {
		background-color: transparent;
		display: block;
		content: "";
		margin: 0 auto;
		width: 20px;
		height: 2px;
	  }
	
	&.tab-selected {
		// --background: var(--ion-color-dark);
		// --color: var(--ion-color-primary);
		// box-shadow: 0px 1px 10px rgba(var(--ion-color-dark-rgb), 0.5);
		// // --background: linear-gradient(45deg, rgba(var(--ion-color-dark-rgb),1) 0%,rgba(var(--ion-color-noirgris-rgb),0.4) 100%);
		// border-radius: 12px;
		// position: relative;
		// max-width: 50px;
		// height: 45px;
		// margin-left: ;

	}

	&.tab-selected::before {
		background-color: var(--ion-color-noir);
	}
}

// ion-tab-button:nth-child(3){
// 	// --background: var(--ion-color-dark);
// 	// box-shadow: 0px 1px 10px rgba(var(--ion-color-dark-rgb), 0.5);
// 	// // --background: linear-gradient(45deg, rgba(var(--ion-color-dark-rgb),1) 0%,rgba(var(--ion-color-noirgris-rgb),0.4) 100%);
// 	// border-radius: 12px;
// 	// position: relative;
// 	// max-width: 50px;
// 	// height: 45px;

// }

//Style radio UI Component
@mixin radio-tags-styles($background, $color, $active-color) {
    .bloc-sante {
		
		background-color: transparent;
		
        .radio-tag {
			flex: 1;
			display: inline-block;
            margin: 5px;
            padding: 0px;
            text-align: center;
            font-size: 1.0em;
            min-height: initial;
			// width: 140px;
			border: 1px solid $color;
			--background: $background;

            ion-radio {
				margin: 0px;
				--color: var(--ion-color-light);
				width: 0;
				height: 0;
			}
			
			ion-label {
				
				color: $color;
				ion-icon {
					font-size: 2em;
				}
			}
			
            &.item-radio-disabled {
                opacity: 0.5;
			}
			
            &.item-radio-checked {
				border-color: $color;
				background-color: $color;
				ion-label {
					color: $active-color;
				}
            }
        }
    }
}
//End of styling radio buttons

//Apply style css on radio buttons
@include radio-tags-styles(var(--ion-color-light), var(--ion-color-marron), var(--ion-color-light));
.bloc-sante {
	flex-wrap: nowrap;
	margin-bottom: 0;
	
	.radio-tag {
		border-radius: 8px;	
	}
}

.bloc-status{
	.radio-tag{
		font-size: 0.8em;
		width: 100px;
	}
}
//End of applying

.bloc-middle{
	--background: var(--ion-color-grislight);
	ion-list{
		background: none;
	}
}

//Applying style css on checkbox 
.list-filter-floor{
	background-color: transparent;
	ion-item{
		--background: transparent;
		border: 1px solid var(--ion-color-medium);
		margin-bottom: 7px;
		border-radius: 5px;
	}
}

.list-filter-checkbox{

	ion-item{
		display: inline-block;
		margin: 5px;
		border-radius: 8px;
		font-size: 0.85em;
		border: 1px solid var(--ion-color-marron);

		ion-checkbox{
			height: 0;
			width: 0;
			margin-left: 0;
			--border-color: var(--ion-color-light);
		}

		&.item-checkbox-checked{
			--background: var(--ion-color-marron);
			--color: var(--ion-color-light);
			ion-checkbox{
				--border-color: var(--ion-color-marron);
			}
		}
	}
}
//End of checkbox

//Empty bloc
.bloc-empty{
    text-align: center;
}

//Background home
.bg-home{
	// --background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 49%,rgba(149,163,163,1) 100%);
	// --background: url('../assets/imgs/principal.jpg') no-repeat center center / cover;
}

// .bloc-stock{
// 	// --background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 49%,rgba(149,163,163,1) 100%);
// 	// --background: url('../assets/imgs/bg-stock.jpg') no-repeat center center / cover;
// }

.bg_side{
	// --background: url('assets/imgs/side_menu.jpg') no-repeat center center / cover;
	--background: linear-gradient(45deg, rgba(var(--ion-color-primary-rgb),1) 0%,rgba(var(--ion-color-marron-rgb),1) 100%);
}

.bg_details{
	--background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgb(248, 246, 246) 49%,rgb(255, 255, 255) 100%);
}

.bg-main, .bg_form{
	--background: var(--ion-color-light-marron);
    // --background: url('assets/imgs/bg_main.jpg') no-repeat center center / cover;
}

.bloc-stock{
	.graphe{
		// background: url('assets/imgs/bg-stock.jpg') no-repeat center center / cover;
		height: 260px;
	}
}

.bloc-suivi{
	.txt-header{
		// background: url('assets/imgs/bg-suivi.jpg') no-repeat center center / cover;
		height: 100px;
	}
}

//Custom bloc bottom (dashboard and Rooms views)
.bloc-bottom-rooms{
    border-radius: 10px;
    
    p{
        margin-top: 0;
        font-size: 0.9em;
        ion-label{
            font-family: 'OpenSans-Bold';
        }
	}
	
	ion-item, div{
		box-shadow: 10px 10px 7px -8px rgba(184,180,184,1);
		border-radius: 7px;
	}

	.bloc-team, .bloc-team div, .bloc-team ion-item{
		box-shadow: none;
	}

    div {
		padding-top: 5px;
		padding-left: 10px;
        background-color: var(--ion-color-light);
        
        ion-text{
			font-size: 0.75em;
        }
	}
	
	.bloc-team, .bloc-team div{
		background-color: transparent; 
	}
	
	.customers{
		h1{
			color: var(--ion-color-orange);
		}
	}
	
	.suppliers{
		h1{
			color: var(--ion-color-violet);
		}
	}

	.tva, .to-add{
		height: 100px;
	}

    .tva h3{
        color: var(--ion-color-rouge);
	}
	
	.to-add{
		background-color: var(--ion-color-grislight);
		ion-icon{
			font-size: 1.8em;
		}

		ion-text{
			font-size: 1.0em;
		}
	}
}

.bloc-team {
	.scrolling-wrapper {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	  
		ion-card {
		  display: inline-block;
		  height: 110px;
		  --background: var(--ion-color-marron);
		  ion-item{
			  margin-top: 18px;
		  }
		}
	}
}

//Custom top header (custimer view)
.top-header{
    background-color: var(--ion-color-primary);
	ion-item{
		h1, p{
			color: var(--ion-color-light);
		}
	}

    ion-text{
        font-size: 0.8em;
    }

    .bloc-amount{
        ion-col{
			h2{
				color: var(--ion-color-light);
			}
		}

        ion-label{
            font-family: "OpenSans-Bold";
        }
    }
}

.bloc-services{
	ion-row{
		.bloc-unpaid{
			--background: var(--ion-color-rouge);
		}
		.bloc-paid{
			--background: var(--ion-color-vert);
		}
		.bloc-invoice{
			--background: var(--ion-color-orange-clair);
		}
	}
}

.bloc-people{
	background-color: var(--ion-color-marron);
	.seats-tag {
		// margin:auto;
		margin-top: 5px;
		padding: 5px;
		width: 100%;
		display: flex;
		border: 1px solid var(--ion-color-secondary);
		border-radius: 10px;
		color: var(--ion-color-secondary);
		background-color: var(--ion-color-marron);
		align-items: center;
		ion-icon {
			font-size: 2rem;
		}
	
		span {
			margin: auto;
			color: var(--ion-color-secondary);
			font-size: 0.9em;
		}
	}
}

//Custom form
.bloc-date{
    border: 1px solid var(--ion-color-light-shade);
    margin: 10px;
}

.custom-form{
	// background-color: var(--ion-color-light);
	// padding: 17px;
	// margin: 10px;
	// border-radius: 0.77em;
	ion-card{
		padding: 8px;
	}

	.bloc-image{
		ion-avatar{
			margin:auto;
		}

		p{
			margin: 0;
		}
	}
	ion-list{
		background: transparent;
	}

	ion-item{
        // padding-bottom: 10px;        
		border-radius: 7px;
		height: 50px;
		border: 1px solid var(--ion-color-grislight-shade);
		--background: var(--ion-color-grislight);
		margin-bottom: 15px;
		ion-label{
			font-size: 0.75em;
        }

        p{
            font-size: 0.9em;
        }
	}
	
	.country{
		
		p{
			color: var(--ion-color-medium);
			font-size: 0.8em;
			ion-text{
				font-size: 1.1em;
				font-family: "OpenSans-Bold";
			}
		}
	}

	ion-datetime{
		// border: 1px solid var(--ion-color-dark);
		padding-bottom: 0;
		.datetime-text{
			padding-left: 5px;
		}
	}

	ion-textarea{
		border: 1px solid var(--ion-color-grislight-shade);
		background: var(--ion-color-light);
	}

	.bloc-description{
		margin-top: 20px;
	}

	.attendees{
		div{
			display: inline;
			padding: 7px;
			margin-right: 5px;
			background-color: var(--ion-color-blue);
			span{
				color: var(--ion-color-light);
				font-size: 0.8em;
			}
		}

		.add-tag{
			display: inline;
			padding: 7px;
			color: var(--ion-color-light);
			font-size: 0.8em;
			background-color: var(--ion-color-violet);
		}
	}

	.error-message{
        color: var(--ion-color-danger);
		font-size: 0.8em;
		text-align: center;
	}
	
}

.login-form{
	background: transparent;
	.bloc-remember p{
		color: var(--ion-color-marron);
	}

	.bloc-printer{
		ion-icon{
			font-size: 4em;
		}
	}

	ion-item{
		margin: 10px;
		margin-bottom: 16px;
        // padding-bottom: 10px;        
        --background: transparent;
        // --min-height: 60px;
        // --padding-bottom: 15px;
        --inner-border-width: 0;
		border: 1px solid var(--ion-color-light);
		border-radius: 25px;
		
		ion-label{
			font-size: 0.8em;
            color: rgba($color: var(--ion-color-dark), $alpha: 0.7);
            padding-bottom: 10px;
        }
	}
	
	ion-input{
        height: 45px;
		padding: 5px;
		font-size: 0.9em;
		--color: var(--ion-color-light);
		--padding-start: 10px;
		--placeholder-color: var(--ion-color-light-blue);
		// --background: var(--ion-color-light);
	}
	
}

.bloc-empty{
	img{
		height: 200px;
		width: 200px;
		border-radius: 100%;
		object-fit: cover;
	}

	ion-icon{
		font-size: 4.5em;
	}

	h3{
		color: var(--ion-color-medium);
	}
}

.custom-user{
	ion-avatar{
		margin:auto;
	}
	
	ion-avatar img{
		object-fit: cover;
	}
}

ion-title {
	.subtitle {
	  font-size: 66%;
	  margin: 0;
	}
}

//Booking Form Css
.bloc-period{
	.first-bloc, .second-bloc{
		border:1px solid var(--ion-color-light);
		margin: 5px;
		border-radius: 10px;
		ion-col:first-child{
			strong{
				font-size: 1.5em;
				color: var(--ion-color-light);
			}
		}

		ion-col:last-child{
			padding-right: 5px;
			ion-text{
				font-size: 0.9em;
			}
		}
	}

	.txt_end{
		font-size: 0.75em;
		padding-bottom: 7px;
	}
}

.total_invoice{
    margin-bottom: 20px;
    background-color: var(--ion-color-grislight);
    h1{
		color: var(--ion-color-tertiary);
		// margin-top: 0;
	}
	
	.bloc-details{
		--background: var(--ion-color-marron);
		border-radius: 0.50em;
		padding: 7px;
		ion-col h6{
			margin-top:0;
		}

		ion-col:first-child{
			h6{
				color: var(--ion-color-danger);
			}
		}
		ion-col:nth-child(2){
			h6{
				color: var(--ion-color-success);
			}
		}
		ion-col:last-child{
			h6{
				color: var(--ion-color-warning);
			}
		}
	}
}

//Nofitication bulle
.notif{
    position: relative;
    top:-8px;
    padding:3px;
    background-color: var(--ion-color-rouge);
    left: -5px;
    border-radius: 5px;
}

//CSS of group items
.group-items{
	ion-item-divider{
		background-color: var(--ion-color-marron);
		ion-text{
			font-size: 1.0em;
		}
	}

	ion-item{
		h6{
			color: var(--ion-color-medium);
		}

		ion-note ion-text{
			font-size: 1.0em;
		}
	}
}

//BLoc CSS Filter Report
.bloc-rapport{
	background: transparent;
	border-top: 1px solid var(--ion-color-medium);
	ion-item{
		border-radius: 5px;
		border: 1px solid var(--ion-color-medium);
		padding-left: 5px;
	}
}


// @media only screen and (min-width: 600px) {
// 	.bloc-client div{
// 		width: 49%;
// 		display: inline-block;
// 		border: 1px solid var(--ion-color-medium);
// 		margin: 3px;
		
// 	}
// }

// @media only screen and (min-width: 768px) {
// 	.bloc-client div{
// 		width: 33.30%;
// 		display: inline-block;
// 		border: 1px solid var(--ion-color-medium);
// 		margin: 3px;
// 	}
// }