<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      {{name | uppercase}}
    </ion-card-content>
	<ion-item>
		<ion-label>CI CD</ion-label>
	</ion-item>
  </ion-card>
</ion-content>
